@model IMMIWeb.Service.Models.OTPVerificationViewModel

@*@{
    string GUID = Context.Session.GetString("GUID");
    string UserEmail = string.Empty;
    if (!string.IsNullOrEmpty(Convert.ToString(Context.Session.GetString("UserEmail"))))
    {
        UserEmail = Convert.ToString(Context.Session.GetString("UserEmail"));
    }
    string OTPTimer = Convert.ToString(new ConfigurationBuilder().AddJsonFile("appsettings.json").Build().GetSection("GeneralInfo")["OTPTimer"]);

    string NewMobileCountryCode = Context.Session.GetString("NewMobileCountryCode");
    string NewMobile = Context.Session.GetString("NewMobile");

    string userDevice = string.Empty;
    if (!string.IsNullOrEmpty(UserEmail))
    {
        userDevice = "We just sent you OTP on your registered mail " + UserEmail + " Please enter it now.";

    }
    else
    {
        if (Convert.ToString(Context.Session.GetString("NewMobile")) == "")
        {
            userDevice = "OTP sent on your mobile " + Context.Session.GetString("MobileCountryCode") + " " + Context.Session.GetString("Mobile");
        }
        else
        {
            userDevice = "OTP sent on your mobile " + Context.Session.GetString("NewMobileCountryCode") + " " + Context.Session.GetString("NewMobile");
        }
    }
}   *@

<div>
    <input type="hidden" value="@Context.Session.GetString("NewMobileCountryCode")" id="hdnMobileCntryCode" />
    <section class="signin-section mt-90">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6">
                    <div class="signin-img veryfy-num-otp-img">
                        <img src="~/assets/images/verify.svg" alt="verify" />
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="signin-wrap text-center veryfy-num-otp">

                        <h1 id="pageHeader">Verify OTP</h1>
                        @*<p class="clsTimeout">@userDevice.</p>*@

                        <div class="digit-group otp-verification-wrap clsTimeout" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                            <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-next="digit-2" id="digit-1" maxlength="1">&nbsp;&nbsp;
                            <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-previous="digit-1" data-next="digit-3" id="digit-2" maxlength="1">&nbsp;&nbsp;
                            <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-previous="digit-2" data-next="digit-4" id="digit-3" maxlength="1">&nbsp;&nbsp;
                            <input class="form-control text-center" type="text" onkeypress="return isNumber(event)" data-next="btnSendOtpVal" data-previous="digit-3" id="digit-4" maxlength="1">
                        </div>
                        <p class="clsErrorMsg" style="color:red;"></p>

                        <button type="button" id="btnSendOtpVal" onclick="SendOTP()" class="g-btn clsTimeout">Verify</button>

                        <div class="lost-mobile-wrap text-center clsTimeout">
                            <br />
                            @*<span id="timerText">OTP Validate In <span id="timer">@OTPTimer</span></span>*@
                            @*<p id="resendOTPButton" style="display:none;cursor:pointer" class="mt-3" onclick="GetOTP('@GUID')">Resend OTP</p>*@
                        </div>

                        <div class="sign-up-link-wrap clsBackToLogin">
                            <p class="clsBackToLogin"> <img src="~/assets/images/g-arrow.svg" alt="arrow left" /> Back to <a asp-action="Login" class="clsBackToLogin">Login In</a> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
