@model IMMIWeb.Service.Models.CometchatAppointmentViewModel

<style>
    .userProfileImgC img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
</style>

<section class="my-card-section login-home message-section mt-90">
    <div class="container">
        <div class="row" id="dvTextChatConsultant">
            <div class="col-lg-12">
                <div class="title">
                    <h1>Messages</h1>
                </div>
            </div>

            <div class="col-lg-8 col-sm-12 col-md-8">
                <div class="tab-content overflow-hidden" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="chat">
                            <div class="msg-chat-wrap">
                                <div class="left-side-profile">
                                    <div class="chat-profile userProfileImgC">
                                        <img  id="profilePic" alt="">
                                    </div>
                                    <div class="chat-name">
                                        <h2 id="rName"></h2>
                                        <p id="rStatus"></p>
                                    </div>
                                </div>
                                <div class="msg-num-time chat-time-detail">
                                    <img src="~/assets/images/clock.svg" class="clock-wrap" alt="clock" />
                                    <p class="mb-0" data-bs-toggle="modal" data-bs-target="#callDuration">5m 56s</p>
                                </div>
                            </div>
                            <div class="chat-history" id="messages">
                            </div>
                            <div class="msg-type-here-wrap">
                                @*<a href="#"><img src="~/assets/images/upload.png" class="upload-wrap" alt="" /></a>*@
                                <input type="file" id="myFile" name="filename">
                                <textarea name="" id="myMessage" cols="30" rows="10"></textarea>
                                <input type="button" onclick="SendMessageFun('@Model.AppointmentIdTag')" value="Send" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal incoming-call-modal call-duration" id="validationModals" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"><img src="~/assets/images/close-gray.svg" alt=""></button>
                <div class="call-content text-center">
                    <h3 id="validationTitle"></h3>
                </div>
            </div>
            <div class="modal-body signin-wrap">
                <button type="button" class="back-home-btn" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- The Incoming call Duration Modal -->
<div class="modal incoming-call-modal call-duration" id="callDuration" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"><img src="~/assets/images/close-gray.svg" alt=""></button>
                <div class="call-content text-center">
                    <h3>Extend Call Duration</h3>
                    <p>You have only 2 mins left. Do you wan to extend call by 5 mins?</p>
                </div>
            </div>
            <div class="modal-body signin-wrap">
                <button type="button" class="g-btn">Yes, Pay $5</button>
                <button type="button" class="back-home-btn" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var myRid =  sessionStorage.getItem("rId");
        console.log("your rid value is " + myRid);


        $('#myFile').on('change', function () {
            var fileInput = this;
            var fileName = $(this).val();
            var fileExtension = fileName.split('.').pop().toLowerCase();
            var maxSize = 15 * 1024 * 1024;
            if (fileExtension !== "jpg" && fileExtension !== "jpeg" && fileExtension !== "png" && fileExtension !== "txt" && fileExtension !== "doc" && fileExtension !== "docx" && fileExtension !== "xls" && fileExtension !== "xlsx" && fileExtension !== "pdf" && fileExtension !== "ppt" && fileExtension !== "pptx" && fileExtension !== "html" && fileExtension !== "htm") {
                $('#validationTitle').text('Invalid File Type');
                $('#validationModals').modal('show');
                $(this).val('');
            }
            if (fileExtension == "txt" || fileExtension == "doc" || fileExtension == "docx" || fileExtension == "xls" || fileExtension == "xlsx" || fileExtension == "pdf" || fileExtension == "ppt" || fileExtension == "pptx" || fileExtension == "html" || fileExtension == "htm") {
                var fileSize = fileInput.files[0].size;
                if (fileSize > maxSize) {
                    $('#validationTitle').text('File Size Exceeds Limit');
                    $('#validationModals').modal('show');

                    $(this).val('');
                }
            }
        });

        CometChat.getUser(sessionStorage.getItem("rId")).then(
            user => {

                $("#rName").html(user.name);
                var newImageUrl = user.avatar;
                $("#profilePic").attr("src", newImageUrl);

                let tags = ['@Model.AppointmentIdTag'];

                var messagesRequest = new CometChat.MessagesRequestBuilder()
                    //.setUID(sessionStorage.getItem("rId"))
                    .setUID(sessionStorage.getItem("rId"))
                    .setMessageId(1)
                    //.setTags(tags)
                    .setLimit(100)
                    .build();

                $('#loading-overlay').show();

                messagesRequest.fetchNext().then(
                    messages => {
                        console.log("Message list fetched:", messages);
                        var i;
                        for (i = 0; i <= messages.length; ++i) {

                            if (messages[i].receiverId == sessionStorage.getItem("UID")) {
                                if (messages[i].type == "text") {
                                    var randerMsg = '<div class="message my-message">' + messages[i].text + '</div>' + '<div class="message-data"><span class="message-data-time">' + MiliSeconedToMin(messages[i].sentAt) + '</span></div>';
                                    document.getElementById('messages').innerHTML += randerMsg;
                                }
                                else if (messages[i].type == "image") {

                                    var varSenderImg = messages[i].data.attachments[0].url;
                                    var varFileName = messages[i].data.attachments[0].name;

                                    var randerMsg = '<div class="message my-message"> <img src=' + varSenderImg + ' width="250" height="150"></div>' + '<div class="message-data"><span class="message-data-time">' + MiliSeconedToMin(messages[i].sentAt) + '</span></div>';
                                    document.getElementById('messages').innerHTML += randerMsg;
                                }
                                else {
                                    var varSenderImg = messages[i].data.attachments[0].url;
                                    var varFileName = messages[i].data.attachments[0].name;

                                    var randerMsg = '<div class="message my-message"> <a  target="_blank" href=' + varSenderImg + ' >' + varFileName + '</a></div>' + '<div class="message-data"><span class="message-data-time">' + MiliSeconedToMin(messages[i].sentAt) + '</span></div>';
                                    document.getElementById('messages').innerHTML += randerMsg;
                                }
                            }
                            else {
                                if (messages[i].type == "text") {
                                    var randerMsg = '<div class="message other-message float-right">' + messages[i].text + '</div>' + '<div class="message-data align-right"><span class="message-data-time">' + MiliSeconedToMin(messages[i].sentAt) + '</span> &nbsp; &nbsp;</div>';
                                    document.getElementById('messages').innerHTML += randerMsg;
                                }
                                else if (messages[i].type == "image") {
                                    var varSenderImg = messages[i].data.attachments[0].url;
                                    var randerMsg = '<div class="message other-message float-right"><img src=' + varSenderImg + ' width="250" height="150"></div>' + '<div class="message-data align-right"><span class="message-data-time">' + MiliSeconedToMin(messages[i].sentAt) + '</span> &nbsp; &nbsp;</div>';
                                    document.getElementById('messages').innerHTML += randerMsg;
                                }
                                else {
                                    var varSenderImg = messages[i].data.attachments[0].url;
                                    var varFileName = messages[i].data.attachments[0].name;
                                    var randerMsg = '<div class="message other-message float-right"><a target="_blank" href=' + varSenderImg + '  >' + varFileName + '</a></div>' + '<div class="message-data align-right"><span class="message-data-time">' + MiliSeconedToMin(messages[i].sentAt) + '</span> &nbsp; &nbsp;</div>';
                                    document.getElementById('messages').innerHTML += randerMsg;
                                }
                            }

                            SetScrollBottom();
                            
                        }

                    }, error => {
                        console.log("Message fetching failed with error:", error);
                    }
                );
                $('#loading-overlay').hide();

            }
        );

    });


    
    



</script>