
@{
    ViewData["Title"] = "Home Page";
}
<!-- banner -->
<section class="banner light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="banner-content">
                    <h1>Manage Your Video and Chat in One App</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. </p>
                    <div class="banner-stores-wrap">
                        <a href="#" class="store-img"><img src="./assets/images/appstore.svg" alt="appstore" /></a>
                        <a href="#" class="store-img"><img src="./assets/images/googleplay.svg" alt="googleplay" /></a>
                    </div>
                    <div class="discover-wrap">
                        <a href="#down">
                            <img src="./assets/images/next-btn.svg" alt="next btn" />
                        </a>
                        <p class="mb-0">Discover more</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="banner-image">
                    <img src="./assets/images/banner.svg" class="wow fadeInUp" alt="Banner" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- logo -->
<section class="logo-slider-section" id="down">
    <div class="container">
        <div class="logo-slider-main-wrap">
            <div class="owl-carousel owl-theme logo-slider">
                <div class="item">
                    <div class="logo-image-wrap">
                        <img src="./assets/images/gogo.svg" alt="Logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="logo-image-wrap">
                        <img src="./assets/images/logoipsum.svg" alt="Logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="logo-image-wrap">
                        <img src="./assets/images/logoipsum2.svg" alt="Logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="logo-image-wrap">
                        <img src="./assets/images/logoipsum3.svg" alt="Logo 1" />
                    </div>
                </div>
                <div class="item">
                    <div class="logo-image-wrap">
                        <img src="./assets/images/logoipsum4.svg" alt="Logo 1" />
                    </div>
                </div>
                <div class="item">
                    <div class="logo-image-wrap">
                        <img src="./assets/images/logoipsum5.svg" alt="Logo 1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features -->
<section class="features-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="feature-image">
                    <img src="./assets/images/feature.svg" alt="Features" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="feature-content">
                    <h2>App Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula</p>
                    <div class="features-list">
                        <div class="features-inner wow fadeInLeft">
                            <div class="features-icon">
                                <img src="./assets/images/credit-card.svg" alt="Credit Card" />
                            </div>
                            <div class="features-list-content">
                                <h3>Video Call Appointment</h3>
                                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                            </div>
                        </div>
                        <div class="features-inner wow fadeInRight">
                            <div class="features-icon">
                                <img src="./assets/images/shield.svg" alt="shield" />
                            </div>
                            <div class="features-list-content">
                                <h3>Data Security</h3>
                                <p>Augue pulvinar justo, fermentum fames aliquam accumsan vestibulum non. </p>
                            </div>
                        </div>
                        <div class="features-inner wow fadeInLeft">
                            <div class="features-icon">
                                <img src="./assets/images/bars-graphic.svg" alt="Bars Graphic" />
                            </div>
                            <div class="features-list-content">
                                <h3>Cost Statistics</h3>
                                <p>Mattis urna ultricies non amet, purus in auctor non. Odio vulputate ac nibh.</p>
                            </div>
                        </div>
                        <div class="features-inner wow fadeInRight">
                            <div class="features-icon">
                                <img src="./assets/images/communication.svg" alt="Communication" />
                            </div>
                            <div class="features-list-content">
                                <h3>Support 24/7</h3>
                                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                            </div>
                        </div>
                        <div class="features-inner wow fadeInLeft">
                            <div class="features-icon">
                                <img src="./assets/images/wallet.svg" alt="Wallet" />
                            </div>
                            <div class="features-list-content">
                                <h3>Easy Payment</h3>
                                <p>Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet eleifend.</p>
                            </div>
                        </div>
                        <div class="features-inner wow fadeInRight">
                            <div class="features-icon">
                                <img src="./assets/images/happy.svg" alt="Happy" />
                            </div>
                            <div class="features-list-content">
                                <h3>Top Standards</h3>
                                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- how work slider section -->
<section class="how-work-slider-section">
    <div class="container">
        <div class="title text-center">
            <h2>How Does It Work?</h2>
        </div>
        <div class="logo-slider-main-wrap">
            <div class="owl-carousel owl-theme how-work-slider">
                <div class="item">
                    <div class="how-work-image-wrap">
                        <img src="./assets/images/iPhone-12-Pro.svg" alt="iPhone 12 Pro" />
                        <div class="how-work-content text-center">
                            <h3>Step 1. Favorite Counsultants</h3>
                            <p>Enim, et amet praesent pharetra. Mi non ante hendrerit amet sed. Arcu sociis tristique quisque hac in consectetur condimentum. </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="how-work-image-wrap">
                        <img src="./assets/images/iPhone12Pro.svg" alt="iPhone 12 Pro" />
                        <div class="how-work-content text-center">
                            <h3>Step 2. Favorite Counsultants</h3>
                            <p>Enim, et amet praesent pharetra. Mi non ante hendrerit amet sed. Arcu sociis tristique quisque hac in consectetur condimentum. </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="how-work-image-wrap">
                        <img src="./assets/images/iPhone12Pro2.svg" alt="iPhone 12 Pro" />
                        <div class="how-work-content text-center">
                            <h3>Step 3. Favorite Counsultants</h3>
                            <p>Enim, et amet praesent pharetra. Mi non ante hendrerit amet sed. Arcu sociis tristique quisque hac in consectetur condimentum. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Simple & Easy to Use -->
<section class="easy-use-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="easy-use-wrap">
                    <h2>Simple & Easy to Use</h2>
                    <ul class="easy-use-list">
                        <li class="wow fadeInLeft"><p>Banking transactions are free for you</p></li>
                        <li class="wow fadeInLeft"><p>No monthly cash commission</p></li>
                        <li class="wow fadeInLeft"><p>Manage payments and transactions online</p></li>
                        <li class="wow fadeInLeft"><p>Receive real-time alerts</p></li>
                        <li class="wow fadeInLeft"><p>Receive payment from international bank details</p></li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="g-btn">Learn more <img src="./assets/images/right-arrow.svg" alt="Right Arrow" /></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="easy-use-video position-relative">
                    <button class="video-control" id="button">
                        <span class="video-control-play">
                            <span class="video-control-symbol" aria-hidden="true"><i class="fa-solid fa-play"></i></span>
                            <span class="video-control-label"></span>
                        </span>
                        <span class="video-control-pause">
                            <span class="video-control-symbol" aria-hidden="true"><i class="fa-solid fa-pause"></i></span>
                            <span class="video-control-label"></span>
                        </span>
                    </button>
                    <video id="video" preload="auto" loop autoplay>
                        <source src="./assets/video/video.mp4" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client say -->
<section class="client-say">
    <div class="title text-center">
        <h2>Clients are Loving Our App</h2>
    </div>
    <div class="owl-carousel owl-theme client-slider">
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Tellus augue commodo id quis tempus etiam sed. Pulvinar at maecenas maecenas pharetra, tincidunt sollicitudin in in. Mattis pellentesque vitae mattis aliquet velit arcu risus.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/fannie.svg" alt="Fannie Summers" />
                    </div>
                    <div class="client-des">
                        <h3>Fannie Summers</h3>
                        <p>Designer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/wade-warren.svg" alt="Wade Warren" />
                    </div>
                    <div class="client-des">
                        <h3>Wade Warren</h3>
                        <p>QA Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/annette-black.svg" alt="Annette Black" />
                    </div>
                    <div class="client-des">
                        <h3>Annette Black</h3>
                        <p>Manager</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo. Tellus augue commodo id quis tempus etiam pulvinar at maecenas.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/robert-fox.svg" alt="Robert Fox" />
                    </div>
                    <div class="client-des">
                        <h3>Robert Fox</h3>
                        <p>PR-Director</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Tellus augue commodo id quis tempus etiam sed. Pulvinar at maecenas maecenas pharetra, tincidunt sollicitudin in in. Mattis pellentesque vitae mattis aliquet velit arcu risus.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/fannie.svg" alt="Fannie Summers" />
                    </div>
                    <div class="client-des">
                        <h3>Fannie Summers</h3>
                        <p>Designer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/wade-warren.svg" alt="Wade Warren" />
                    </div>
                    <div class="client-des">
                        <h3>Wade Warren</h3>
                        <p>QA Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare consectetur.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/annette-black.svg" alt="Annette Black" />
                    </div>
                    <div class="client-des">
                        <h3>Annette Black</h3>
                        <p>Manager</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-wrap-client-say">
                <div class="client-wrap position-relative">
                    <div class="quote-wrap">
                        <img src="./assets/images/quote.svg" alt="Quote" />
                    </div>
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo. Tellus augue commodo id quis tempus etiam pulvinar at maecenas.</p>
                    <div class="star-ratting-wrap">
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/full-star.svg" alt="Full Star" />
                        <img src="./assets/images/null-star.svg" alt="Null Star" />
                    </div>
                </div>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="./assets/images/robert-fox.svg" alt="Robert Fox" />
                    </div>
                    <div class="client-des">
                        <h3>Robert Fox</h3>
                        <p>PR-Director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq -->
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="faq-content">
                    <h2>Any questions? <br> Check out the FAQs</h2>
                    <p>Still have unanswered questions and need to get in touch?</p>
                    <a href="#" class="g-btn">Contact us now</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Is any of my personal information stored in the App?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula tristique tincidunt suspendisse ut consequat.Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What formats can I download my transaction history in?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula tristique tincidunt suspendisse ut consequat.Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Can I schedule future transfers?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula tristique tincidunt suspendisse ut consequat.Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                When can I use Banking App services?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula tristique tincidunt suspendisse ut consequat.Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                Can I create my own password that is easy for me to remember?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula tristique tincidunt suspendisse ut consequat.Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                What happens if I forget or lose my password?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Nunc duis id aenean gravida tincidunt eu, tempor ullamcorper. Viverra aliquam arcu, viverra et, cursus. Aliquet pretium cursus adipiscing gravida et consequat lobortis arcu velit. Nibh pharetra fermentum duis accumsan lectus non. Massa cursus molestie lorem scelerisque pellentesque. Nisi, enim, arcu purus gravida adipiscing euismod montes, duis egestas. Vehicula tristique tincidunt suspendisse ut consequat.Ornare senectus fusce dignissim ut. Integer consequat in eu tortor, faucibus et lacinia posuere. Turpis sit viverra lorem suspendisse lacus aliquam auctor vulputate. Quis egestas aliquam nunc purus lacus, elit leo elit facilisi. Dignissim amet adipiscing massa integer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
