@model IMMIWeb.Service.Models.EmailVerificationViewModel

@{
    //Layout = "";
}

<h1>


    
</h1>


<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>

<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    }

    h2 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        background: white;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
        padding: 60px 60px 80px 60px;
    }

    .linkbtn {
        background-color: #fff;
        text-decoration: non;
        border: 1px solid #88B04B;
        text-decoration: none;
        padding: 8px 10px;
        border-radius: 6px;
        color: #88B04B;
        text-align: none;
        margin-top: 16px;
    }

        .linkbtn:hover {
            border: 1px solid #88B04B;
            text-decoration: non;
            background-color: #88B04B;
            text-decoration: none;
            color: #fff;
        }

    .mtc-20 {
        margin-top: 20px;
    }

    .marginCls{
        margin-top:80px;
        margin-bottom:80px;
    }
</style>

<body>
    <div class="card marginCls">

        @if(Model.Status=="True")
        {
            <div style="border-radius:200px;  width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h2>Success</h2>
            <br />
            <br />
            <p> @Model.MobileMsg </p>
            <p>@Model.Msg</p>
            <br />
        }
        else
        {
            <div style="border-radius:200px;  width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark" style="color:red">x</i>
            </div>
            <h1 style="color:red">Expired</h1>
            <br />
            <br />
            <p>@Model.Msg</p>
            <br />
        }

        
        
    </div>
</body>
</html>








