@model IMMIWeb.Service.Models.LoginViewModel
@{

    //toastr Msg
    string AlertMsgFail = string.Empty;

    AlertMsgFail = Convert.ToString(TempData["AlertMessageFail"]);
    if (!string.IsNullOrEmpty(AlertMsgFail))
    {
        TempData.Remove("AlertMessageFail");
    }

}

@using (Html.BeginForm("Login", "UserAccount", FormMethod.Post, new { id = "signinform" }))
{
    <input value="@Model.lstMobileVal" type="hidden" id="txtlstMobileVal" name="txtlstMobileVal">

    <section class="signin-section mt-90">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-6">
                    <div class="signin-img">
                        <img src="~/assets/images/signin.svg" alt="signin" />
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="signin-wrap text-center">
                        <h1>Let's Log you in.</h1>
                        <p>Welcome back. You've been missed!</p>

                        <div class="col-lg-12 position-relative mb-2">
                            <div class="cst-slect">
                                <select class="mySelect fontColor" name="MobileCountryCode" id="MobileCountryCode">
                                    @foreach (var item in Model.lstMobile.ToList())
                                    {
                                        <option value="+@item.Name">+@item.Name @item.Prefix</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="tel" maxlength="12" style="padding-left: 105px;" class="fgd form-control" id="Mobile" name="Mobile" value="@Model.Mobile" placeholder="Mobile number*" />
                            </div>
                            <div style="text-align:left;">
                                <span class="clsErrorMsg text-danger" id="ErrorMobile"></span>
                            </div>
                        </div>

                        <div class="lost-mobile-wrap text-end">
                            <a asp-action="ChangeMobile"><p>Lost mobile?</p></a>
                        </div>

                        <button type="button" class="g-btn" id="btnSubmit">Login</button>

                        <div class="continuewith-main text-center">
                            <p>or Continue with</p>
                            <div class="continue-with-wrap">
                                <a asp-action="GoogleSignIn" asp-controller="UserAccount"><img src="~/assets/images/google.svg" alt="Google" /></a>
                                <a asp-action="AppleSignIn" asp-controller="UserAccount"><img src="~/assets/images/apple.svg" alt="Apple" /></a>
                            </div>
                        </div>

                        <div class="cont-guest-wrap">
                            <a href="GuestSignUp" class="cont-guest">Continue as a Guest <img src="~/assets/images/arrow-1.svg" class="arrow-cont" alt="arrow" /> </a>
                        </div>

                        <div class="sign-up-link-wrap">
                            <p>Don't have an account? <a asp-controller="UserAccount" asp-action="UserSignUp">Sign up</a> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script type="text/javascript">
    $(document).ready(function () {

        sessionStorage.setItem("resendOtpProcess", "");
        sessionStorage.setItem("sessionTimer", "");

        var modelMessage = '@Model.Message';

        if (modelMessage && modelMessage.length > 0) {
            $(".clsErrorMsg").html(modelMessage);
            setTimeout(function () {
                $(".clsErrorMsg").html("");
            }, 5000);
        }

        var modelMessageAlertMsgFail = '@AlertMsgFail';

        if (modelMessageAlertMsgFail && modelMessageAlertMsgFail.length > 0) {
            $(".clsErrorMsg").html(modelMessageAlertMsgFail);
            setTimeout(function () {
                $(".clsErrorMsg").html("");
            }, 5000);
        }



        var mobileCodeVal = $("#txtlstMobileVal").val();

        if (mobileCodeVal != "") {
            $("#MobileCountryCode").val(mobileCodeVal);
        }

        $("#Mobile").on("input", function () {
            var mobileInput = $(this).val();
            var sanitizedInput = mobileInput.replace(/[^0-9]/g, '');
            $(this).val(sanitizedInput);
        });

        $('#btnSubmit').click(function (event) {

            var isValidForm = true;

            var mobile = $("#Mobile").val();

            if (mobile.trim() === "") {
                $("#ErrorMobile").text("Mobile number is required.");
                isValidForm = false;
            } else if (!/^\d{6,12}$/.test(mobile)) {
                $("#ErrorMobile").text("Mobile number must be between 6 and 12 digits.");
                isValidForm = false;
            } else if (!/^[0-9]+$/.test(mobile)) {
                $("#ErrorMobile").text("Mobile number should be only numeric digits.");
                isValidForm = false;
            } else {
                $("#ErrorMobile").text("");
            }

            if (isValidForm) {
                $("#signinform").submit();
            }

        });

    });
</script>
