@model IMMIWeb.Cm

<section class="main-tab-section mt-90">
    <div class="container">
        <div class="row" style="align-items:center; justify-content:center;">
            <div class="col-lg-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade privacy-wrap active show" id="nav-privacy" role="tabpanel" aria-labelledby="nav-privacy-tab">
                        <div class="privacy-num-wrap">
                            <div class="title text-center">
                                <h2>Privacy Policy</h2>
                            </div>
                           <div>
                               <h5>@Html.Raw(Model.Description)</h5>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>