@model IMMIWeb.Cm

<section class="main-tab-section mt-90">
    <div class="container">
        <div class="column" style="display: flex; align-items:center; justify-content:center; flex-direction:column;">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade terms-wrap active show" id="nav-terms" role="tabpanel" aria-labelledby="nav-terms-tab">
                        <div class="privacy-num-wrap">
                            <div class="title text-center">
                                <h2>Terms &amp; Conditions</h2>
                            </div>
                            <div>
                                <h5>@Html.Raw(Model.Description)</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>