

<section class="login-home consultant-details-section-main-wrap mt-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <h1>Clients Details</h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="box-wrapper appointment-detail">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="left-side-area line-after">
                                <div class="profile-wrap">
                                    <img src="./assets/images/profile-pic.svg" class="img-fluid circle-img" alt="profile" />
                                    <div class="pr-detail">
                                        <h3>Annette Black</h3>
                                        <p class="dark-text mb-0">(808) 555 - 0111</p>
                                        <p class="dark-text">alma.lawson@example.com</p>
                                    </div>
                                </div>
                                <div class="login-conent-wrap">
                                    <div class="c-item">
                                        <p>Types of Service </p>
                                        <h4 class="mb-3">Student</h4>
                                    </div>
                                    <div class="c-item">
                                        <p>Country for Immigration</p>
                                        <h4 class="mb-3">Australia</h4>
                                    </div>
                                </div>
                                <div class="login-conent-wrap">
                                    <div class="c-item">
                                        <p>Belonging County </p>
                                        <h4 class="mb-3">United Kingdom</h4>
                                    </div>
                                    <div class="c-item">
                                        <p>Preferred Language</p>
                                        <h4>English </h4>
                                    </div>
                                </div>
                                <div class="login-conent-wrap">
                                    <div class="c-item">
                                        <p>Belonging County </p>
                                        <h4 class="mb-3">United Kingdom</h4>
                                    </div>
                                    <div class="c-item">
                                        <p>Preferred Language</p>
                                        <h4 class="mb-3">English </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="right-side-area line-after">
                                <div class="login-conent-wrap mb-3">
                                    <div class="c-item">
                                        <h4 class="mb-0">Document</h4>
                                        <p class="mb-2">Status </p>
                                        <div class="input-group select-lang">
                                            <select class="form-control">
                                                <option value="Emergency">Pending</option>
                                                <option value="Emergency">Approve</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-conent-wrap">
                                    <div class="document-list">
                                        <div class="item">
                                            <div class="doc"><img src="./assets/images/pdf.svg" alt="pdf"></div>
                                            <div class="doc-name"><span> Passport.pdf</span><a href="#"><img class="icon-download" src="./assets/images/download.svg" alt="download"> Download</a></div>
                                        </div>
                                        <div class="item">
                                            <div class="doc"><img src="./assets/images/pdf.svg" alt="pdf"></div>
                                            <div class="doc-name"><span> Passport.pdf</span><a href="#"><img class="icon-download" src="./assets/images/download.svg" alt="download"> Download</a></div>
                                        </div>
                                        <div class="item">
                                            <div class="doc"><img src="./assets/images/pdf.svg" alt="pdf"></div>
                                            <div class="doc-name"><span> Passport.pdf</span><a href="#"><img class="icon-download" src="./assets/images/download.svg" alt="download"> Download</a></div>
                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="payment-recieve">
                                <h3>Payment Received:</h3>
                                <ul class="payment-detail">
                                    <li><p>Retaining Fees</p> <span>+$1800</span></li>
                                    <li><p>App charge</p> <span>+$100</span></li>
                                    <li><p>Tax </p> <span>+$100</span></li>
                                    <li class="total"><p>Total </p> <span>$1600</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="modal d-block write-review-modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Write Review</h2>
        <div class="ratting-main-wrap">
            <img src="./assets/images/big-Star.svg" alt="big-Star">
            <img src="./assets/images/big-Star.svg" alt="big-Star">
            <img src="./assets/images/big-Star.svg" alt="big-Star">
            <img src="./assets/images/big-Star.svg" alt="big-Star">
            <img src="./assets/images/Star.svg" alt="star">
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"><img src="./assets/images/close-gray.svg" alt=""></button>
      </div>
      <div class="modal-body signin-wrap ">
        <form>
            <div class="input-group">
                <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="abc@gmail.com"></textarea>
                <label for="">Review</label>
            </div>
            <button type="submit" class="g-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal d-block book-appointment-modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body signin-wrap">
            <img src="./assets/images/done.svg" class="done-img" alt="done" />
      </div>
        <div class="modal-header">
            <h2 class="modal-title">Appointment Book Successfully!</h2>
            <p>You will be notified once consultant accept the appointment request.</p>
            <a href="#" class="back-home-btn">Back to Home</a>
        </div>
    </div>
  </div>
</div>

<div class="modal d-block incomming-call-modal" id="myModal">
  <div class="modal-dialog v-call-wrap">
    <div class="modal-content">
      <div class="modal-body">
        <div class="v-call">
            <div class="v-call-name">
                <h2>Dianne</h2>
                <p> <img src="./assets/images/Incoming-call.svg" alt=""> Incoming Video Call</p>
            </div>
            <div class="v-call-profile">
                <img src="./assets/images/profile2.svg" alt="profile2" />
            </div>
        </div>
        <div class="btn-wrapper">
            <a href="#" class="decline-btn">Decline</a>
            <a href="#" class="accept-btn">Accept</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal d-block extend-call-modal" id="myModal">
  <div class="modal-dialog extend-call-wrap">
    <div class="modal-content">
    <button type="button" class="btn-close" data-bs-dismiss="modal"><img src="./assets/images/close-gray.svg" alt=""></button>

      <div class="modal-body">
            <h2>Extend Call Duration</h2>
            <p> You have only 2 mins left.Do you wan to extend call by 5 mins?</p>
            <div class="yes-pay-wrap">
                <a href="#" class="d-inline-block g-btn">Yes, Pay $5</a>
                <a href="#" class="back-home-btn d-inline-block mt-3">No</a>
            </div>
      </div>
    </div>
  </div>
</div>  -->
